/*css header*/
header{
    background: linear-gradient(160deg,#6595d4, #bbb0d0);
    padding: 30px;
    font-family: 'Fira Code', monospace;
}

nav{
    position: fixed;    
    right: 200px;
}

nav li{
    display: inline;
    margin: 0 30px;
}

nav a{
    text-transform: uppercase;    
    font-weight: lighter;
    font-size: 16px;
    text-decoration: none;
    color: #F8F8FF;
}

nav a:hover{
    color: #13b016;
    text-decoration: underline;
}

main{
    font-family: 'Fira Code', monospace;
}

/*css informações principais*/
.informacoes-principais-lista{    
    background: linear-gradient(60deg,#6595d4, #bbb0d0);
}

.icones-info-pessoais{
    width: 60px;
    display: flex;
    flex-direction: column;
}
.informacoes-pessoais-lista{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 50px 0px;
    margin-left: 250px;
}

.info-pessoais{
    line-height: 2;
    color: #F8F8FF;

}

.info-pessoais:first-child{
    font-weight: bold;
    font-size: 50px;
}

.info-pessoais:nth-child(2){
    font-size: 18px;
}

.foto-perfil-lista{
    width: 20%;
    border-radius: 50%;
    margin: 10px 10px;
    margin-right: 50px;
    padding: 20px;
}

.icones{
    display: flex;
    flex-direction: column;
    width: 60px;
}

/*css do sobre mim*/
.sobre-mim {
    background: #bccfe7;
    color: #202081;
}
.sobre-mim-foto{
    width: 300px;
    height: 300px;
    border-radius: 30%;
    opacity: 0.8;
    margin: 6px 300px;
}
.sobre-mim-foto:hover{
    opacity: 1;
}
h2 {
    text-align: center;
    margin: 20px 700px;
    width: 30%;
    line-height: 1.2;
}
.text-sobe-mim{    
    text-align: center;
    margin: 4px 700px;
    width: 30%;
    line-height: 1.2;
}
.titulo-sessoes{
    font-size: 20px;
}
/*css footer*/
footer{
    background: linear-gradient(160deg,#6595d4, #bbb0d0);
    font-family: 'Fira Code', monospace;
    text-align: center;
    padding: 50px;
    color: #F8F8FF;
    line-height: 1.2;
}

footer a {
    text-decoration: none;
}