header{
    background: linear-gradient(45deg,#66CDAA, #df71df);
    padding: 30px 0;
    color: #6959CD;
}

.caixa{
    position: fixed;
    width: 940px;
    margin: 0;   
}

nav{
    position: absolute;    
    text-align: center;
}

nav li{
    display: inline;
    margin: 0 15px;
}

nav a{
    text-transform: uppercase;    
    font-weight: lighter;
    font-size: 16px;
    text-decoration: none;
}

nav a:hover{
    color: #13b016;
    text-decoration: underline;
}

.informacoes-principais{
    margin: 200px;
}

